/* rendu 1
h1{
    color: red;
}*/

/*------------------------------*/

/*rendu 2

p{
    color: red;
}*/
 

/*rendu 3

h1{
    color: red;
}  
h2{
    color:blue;
}
*/

/*rendu 4 

h2{
color: red;
}*/


/* rendu 5
h1, h2, p{
color:red;
}


rendu 6 

*{
    color:red;
}
*/
 
